{% extends "../public/main.njk" %}
{% block css %}
<link rel='stylesheet' href='/stylesheets/index.css' /> 
{% endblock %}

{% block body %}
<div class="listView container">
  <div class="tagsView">
    <ul>
      <li>
        <a href="#" tab="all" class="selected">全部</a>
      </li>
      <li>
        <a href="#" tab="good">精华</a>
      </li>
      <li>
        <a href="#" tab="share">分享</a>
      </li>
      <li>
        <a href="#" tab="ask">问答</a>
      </li>
      <li>
        <a href="#" tab="jod">招聘</a>
      </li>
      <li>
        <a href="#" tab="test">客户端测试</a>
      </li>
    </ul>
  </div>
  {% for topic in data %}
  <div class="cell" tab="{{topic.tab}}">
    <img src="{{ topic.author.avatar_url }}" alt="">
    <span>{{ topic.reply_count }}</span>
    <span>/</span>
    <span>{{ topic.visit_count }}</span>
    <span class="tag_top">{{ topic | cnode_tag }}</span>
    <a href="/topic/{{topic.id}}">{{ topic.title }}</a>
    <span class="time">{{ topic.last_reply_at | last_reply_time }}</span>
  </div>
  {% endfor %}
</div>
{% endblock %}

  {% block script %}
    <script src='/javascripts/index.js'></script>
  {% endblock %}